
.meme-container {
   flex-direction: row;
   /* margin-block-start: 1rem; */
   margin: 2rem 2rem 2rem;
}

.editor-container {
   flex-direction: column;
   width: 500px;
}

.canvas-container {
   width: 500px;
   height: 500px;
}

.gallery {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
   grid-auto-flow: dense;
   gap: 2em;
   padding: 3em;
   margin: 0 auto;
}

.meme-saved {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
   grid-auto-flow: dense;
   gap: 2em;
   padding: 3em;
   margin: 0 auto;

}