/* 

.canvas-container{
grid-template-columns: 1;
}

.editor-container{
    grid-template-columns: 2;
} */


 .meme-container{
    flex-direction: row;
    /* margin-block-start: 1rem; */
    margin: 2rem 2rem 2rem;
 }

 .editor-container{
    flex-direction: column;
 }

 .canvas-container{
    width: 500px;
    height: 500px;
 }

 .editor-container{
    width: 500px;
 }

 .gallery{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
   grid-auto-flow: dense;
   gap: 2em;
   padding: 3em;
   margin: 0 auto;
}


