.canvas-container,
#my-canvas {
    background-color: var(--clr-2);
    border-radius: 1.5em;
}

.canvas-container {
    background-color: #22252c;
}

.download-btn a {
    text-decoration: none;
}

.editor-container {
    background-color: #383B42;
    border-radius: 1em;
}

.editor-container ul {
    flex-direction: column;
    gap: 2em;
    align-items: center;
}


.text-input {
    border-radius: 30px;
    background-color: #EBEEF3;
    margin-top: 1em;
}

.text-input input[type="text"] {
    height: 100%;
    width: 90%;
    border-radius: 6em;
    background-color: #EBEEF3;
    font-size: 1.5rem;
    text-align: center;
}

.btn-switch {
    box-shadow: 1px 5px 0 #048b97, inset 0 5px 0 rgba(255, 255, 255, 0.58);
    background-image: linear-gradient(-38deg, #66c4dc 0%, #40b1ce 50%, #0c98bb 100%);
}

.btn-add {
    box-shadow: 1px 5px 0 #015d33, inset 0 5px 0 rgba(255, 255, 255, 0.58);
    background-image: linear-gradient(-38deg, #42eb5c 0%, #37b34a 100%);
}

.btn-remove {
    box-shadow: 1px 5px 0 #8c0606, inset 0 5px 0 rgba(255, 255, 255, 0.58);
    background-image: linear-gradient(-38deg, #cf1d37 0%, #cf1d37 1%, #f05036 100%);
}

.meme-control {
    margin: auto;
}

.fa-btn,
.fa-trash-can,
.fa-up-down {
    color: var(--clr-2);
    font-size: 1.5em;
}

.meme-control button {
    background-color: #ebeef3;
    width: 4.5em;
    height: 3.8em;
    border-radius: 1em;
    margin-left: 1em;
}

.text-editor button {
    width: 3em;
    height: 3em;
    margin-block-start: 0.5em;
    box-shadow: 1px 5px 0 rgba(92, 92, 92, 0.55), inset 0 5px 0 rgba(255, 255, 255, 0.58);
    border-radius: 1em;
    background-color: #ffffff;
    background-color: #ffffff;
}

.text-editor {
    /* width: 95%; */
    padding: 2em;
    border-radius: 15px;
    grid-template-columns: repeat(5, 1fr);
    background-color: cadetblue;
    margin: auto;
    position: relative;
}

.text-editor>* {
    align-items: center;
}

.text-editor>*,
.font-style>* {
    width: 9.4em;
    height: 3em;
    box-shadow: 1px 5px 0 rgba(92, 92, 92, 0.55), inset 0 5px 0 rgba(255, 255, 255, 0.58);
    border-radius: 1em;
    background-color: #ffffff;
    margin-block-start: 0.5em;
}

input[type="color"] {
    height: 100%;
    opacity: 0;
    cursor: pointer;
    position: absolute;
}


.action-buttons button{
    margin: 0.2em;
    margin-bottom: 1em;
    border-radius: 2em;
    font-size: 1rem;
}

.save-btn {
    background-color: #119c77;
}

.download-btn {
    background-color: #8f44bb;
}

.share-btn {
    background-color: #1e7cd3;
}

.stickers {
    /* height: 100%;
    width: 100%; */
    background-color: var(--clr-2);
    padding: 0.5em;
    border-radius: 1.5em;
}

.btn-next, .btn-prev {
    padding: 0;
    margin-inline: 0.5em;
    font-size: 1.5em;
    border: none;
    background-color: transparent;
}

.sticker-btn{
    font-size: 1em;
    padding-inline: 0.7em;
    background-color: transparent;
}

.menu-button{
    border-radius: 0.2em;
    background-color: transparent;
    font-size: 1.5em;
}

