/* MOBILE ONLY */

@media (max-width: 640px) {
	.main-header {
		height: 70px;
	}

	header ul {
		max-height: 0;
		position: fixed;
		top: 70px;
		left: 0;
		width: 100%;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;

		/* background-color: #292929; */

		transition: max-height 1s;
	}

	.menu-open ul {
		max-height: 100vh;
	}

	header ul > li {
		border-inline-end: none;
		border-bottom: 1px solid #585858;
	}

	header ul > li a {
		width: 100%;
	}
}